LOG_LEVEL=INFO
ENV=local

DATABASE_NAME=dating
DATABASE_USER=postgres
DATABASE_PASSWORD=dating
DATABASE_HOST=localhost
DATABASE_PORT=5432

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=a-string-secret-at-least-256-bits-long
